@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin:0;
    padding: 0;
    border: none;
}
h1, h2,h3,h4{
    font-family: Oswald , sans-serif;
    font-size: 210%;
}
p{
    font-family: roboto Condensed, sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
    color: #3c6255;
    line-height: 1.8rem;
}
#banner{
    background-color: #eae7b1;
    overflow: hidden;
    height: 150px;
    border-bottom: 2px solid #2c443c;
}
#logo{
    float: left;
    width: 25%;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    color: #3c6255;
    font-weight: 700;
    justify-content: center;
    font-size: 250%;

}

/* navigation styling  */
#menu{
    float: right;
    width:75%;
    text-align: center;
    line-height: 150px;
    
}
#menu li{
    display: inline;
    margin-right: 50px;
    text-align: center;
    width:15%;
    
}
/* styling links */
#menu li a, #logo a{
    text-decoration: none;
    font-family: oswald,sans-serif;
    text-transform: uppercase;
    color: #eae7b1;
    font-weight: 600;
    letter-spacing: 4px;
    border:10px;
}
#menu li a{
    padding:20px 20px;
}
#logo a{
    color: #3c6255;
}
.nav-button{
    border-right: 1px solid #2c443c;
    padding: 5px 0 6px 5px;
    box-shadow:  0 0 6px  0 #2c443c;
    border-radius: 5px;
    background-color: #3c6255;
    transition: transform 0.5s ease-out;
}
.nav-button:active{
    box-shadow: none;
    transform:translateY(-5px);
}

#menu li a:hover{
    cursor:pointer;
}


/* button style */

#subscribe{
    float: right;
    width:33%;
    text-align: center;
    justify-content: center;
}
#newsletter, .newsletter-submit {
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    border:1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    color: #eae7b1;
    background-color: #3c6255;
    box-shadow: 0 5px 0 #2c443c;
    transition: transform 0.1s ease-out;
}
#newsletter:active{
    box-shadow: none;
    transform:translateY(5px);
}
#newsletter a{
    text-decoration: none;
    color: #eae7b1;
}
/* hero image and cover text */

#hero-image{
    width: 100%;
    height: 450px;
    background: url('../images/cm-hero-img.png') no-repeat center center;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
#hero-outer{
    position: relative;
    height: 450px;
    width:100%;
    overflow: hidden;

}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

/* cover text */
#cover-text, #cover-text h2{
   color: rgba(60, 98, 85, 0.8);
   text-align: center;
   line-height: 50px;
   letter-spacing: 4px;
}
#cover-text h2{
    padding-bottom: 20px;
}
#cover-text{
    font-size: 130%;
    font-family: oswald,sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 1000px;
    height: 50px;
    padding-top:25px; 
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 25px;
    background-color: rgba(234, 231, 177, 0.9);

    bottom: 200px;
    top:200px;
    /* right and left values that best align cover text with background images */
    /* right:548px; */
    left:329.45px;
    position: absolute;

    border-radius: 10px;
}
#reasons{
    width: 100%;
    height:75px;
    text-align: center;
    text-transform: capitalize;
    background-color: #2c443c;
    color: #eae7b1;
    line-height: 75px;
    letter-spacing: 4px;
    padding:15px 0;
    border-bottom: 2px solid #2c443c;
    border-top: 2px solid #2c443c;
}

.reason-ing{
    display:inline-block;
    float: left;
    width:33%;
    height:450px;
    background-color:white;
    
}
.encouragement{
    display:inline-block;
    float: right;
    width:33%;
    height:450px;
    background-color: white;
   
}
.goodness{
    display:inline-block;
    margin: 0 auto;
    width:33%;
    height:450px;
    background-color: white;
    
}
.reason-heading{
    width:100%;
    height:15%;
    font-weight: 600;
    font-family: oswald, sans-serif;
    color: #2c443c;
    text-align: center;
    padding-top: 25px;
    text-decoration: underline;
}

/* text containers under 'why follow us' */
.reason-text-container {
    width: 100%;
    height:30%;
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;
}
.reason-photo-container{
    width: 150px;
    height:150px;
    background-color: transparent;
    margin: 0 auto;
    border:3px solid #2c443c;
    border-radius: 50%;
}
.reason-text{
    height: 25px;
    width:90%;
    margin: 0 auto;
    color:#3c6255;
    font-family: source-sans-serif, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align:center;
    padding-bottom: 10px ;
    padding-left: 15px;
    line-height: 1em;
    border-left: 1px solid #a6bb8d;
}
/* Photos under Why Follow Us */

.reason-photo-ing{
    width:100%;
    height:100%;
    background: url('../images/cm-reason-photo-ing.jpg') no-repeat center center;
    border-radius: 60%;
}

.reason-photo-goodness{
    width:100%;
    height:100%;
    background: url('../images/cm-reason-photo-goodness.png') no-repeat center center;
    border-radius: 60%;
}

.reason-photo-encouragement{
    width:100%;
    height:100%;
    background: url('../images/cm-reason-photos-encouragement.png') no-repeat center center;
    border-radius: 60%;
}
/* Meals  */
#meals{
    width: 100%;
    height:750px;
    background-color: whitesmoke;
    /* padding-bottom: 25px; */
}
#meals-header{
    margin-bottom: 2.5%;
    width: 100%;
    height:75px;        
    text-align: center;
    text-transform: capitalize;
    background-color: #2c443c;
    color: #eae7b1;
    line-height: 75px;
    letter-spacing: 4px;        
    padding:15px 0;
    border-bottom: 2px solid #2c443c;
    border-top: 2px solid #2c443c;
}
.meal-type{
    display: inline-block;
    width: 33%;
    height:5%;
    background-color: whitesmoke;
}
.breakfast{
    height:100%;
    text-align: center;
    font-family: source-open-sans,sans-serif;
    text-transform: uppercase;
    line-height: 180%;
    color: #2c443c;
    border-right: 1px solid #2c443c;
    padding: 5px 0 6px 5px;
    box-shadow:  0 0 6px  0 #2c443c;
    border-radius: 5px;
    background-color: #eae7b1;
    margin-bottom:15px;
}

#meal-img-overnight-oats{
    position: relative;
    background: url('../images/cm-over-night-oats.png') no-repeat center center;
    background-size:cover;
    height: 560px;
    width: 75%;
    margin:0 auto;
    border-radius: 20px;
    box-shadow: inset 10px 10px 53px 0px #eae7b1;
    transition: transform 0.3s ease-in-out;
}

#meal-img-chili-con-carne{
    position: relative;
    background: url('../images/cm-chili-con-carne.png') no-repeat center center;
    background-size:cover;
    height: 560px;
    width: 75%;
    margin:0 auto;
    border-radius: 20px;
    box-shadow: inset 10px 10px 53px 0px #eae7b1;
    transition: transform 0.3s ease-in-out;
}
#meal-img-banana-bread{
    position: relative;
    background: url('../images/cm-banana-bread.jpg') no-repeat center center;
    background-size:cover;
    height: 560px;
    width: 75%;
    margin:0 auto;
    border-radius: 20px;
    box-shadow: inset 10px 10px 53px 0px #eae7b1;
    transition: transform 0.3s ease-in-out;
}
/* Hover Effects Learned at https://www.w3schools.com/howto/howto_css_zoom_hover.asp */

#meal-img-overnight-oats:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 25px 0px #eae7b1;
    transform: scale(1.01);
}
#meal-img-chili-con-carne:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 25px 0px #eae7b1;
    transform: scale(1.01);
}
#meal-img-banana-bread:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 25px 0px #eae7b1;
    transform: scale(1.01);
}
/* text over images in meals section */

.text-card{
    background-color: rgba(60, 98, 85, 0.5);
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
}
.top-text{
    height: 30%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    font-family: oswald,sans-serif;
    letter-spacing: 2px;
    color: #eae7b1;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px #273631;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}
.meals-button{
    background-color: rgba(60, 98, 85, 0.5);
    height: 10%;
    width: 30%;
    position: absolute;
    bottom: 5%;
    right:35%;
    border-radius: 5px;

    /* Styling button */

    border: 2px solid #eae7b1;
    /* background-color: #eae7b1;
    color: #2c443c; */
    border-radius: 5px;
    text-transform: uppercase;
    font-family: oswald, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    color: #2c443c;
    background-color: #eae7b1;
    box-shadow: 0 5px 0 #9b9975;
    transition: transform 0.1s ease-out;
    
}
.meals-button a, #subscribe {
    text-decoration: none;
    color: #2c443c;
}
 .meals-button:active {
    box-shadow: none;
    transform:translateY(5px);
 }

 /* Review Section  */

 /* Review Section Banner */
 #reviews{
    width: 100%;
    height:60vh;
    background-color: whitesmoke;
 }
 #reveiws-header{
    width: 100%;
    height: 10vh;
    background-color: #273631;
 }
 #review-title{
    font-family: oswald;
    color:#eae7b1;
    text-align: center;
    line-height: 10vh;
    font-size: 200%;
    letter-spacing: 4px;
 }
 /*  Fan Reviews  */


.fans{
    position:relative;
    float:left;
    width: 33%;
    height:50vh;
}
.fans-2{
    position:relative;
    float:right;
    width: 33%;
    height:50vh;

}
.fans-3{
    position:relative;
    margin:0 auto;
    width: 33%;
    height:50vh;
}
.fan-quote{
    width: 60%;
    height:80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%)
}
.review-icon{
    position:absolute;
    left: 5%;
    top: 10%;
    color: #3c6255;
}
.fan-review{
    width: 75%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 12.5%;
    left:12.5%;
    border: 1px solid #3c6255;
    border-radius: 20px;
    box-shadow: -3px -3px 3px #3c6255;
}
.fan-review p{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding-top: 2.5%;
    font-family: source sans source,sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 100%;
    color: #3c6255; 
}
.fan-name{
    background-color:#3c6255;
    height: 20%;
    text-align: left;
    border: 1px solid #3c6255;
    border-radius: 20px;
    box-shadow: -1px -1px 2px #3c6255;
}
.fan-name p{
    padding: 1% 0;
    margin: 0 auto;
    text-align: center;
    padding:10px 0;
    text-transform: uppercase;
    font-family: oswald,sans-serif;
    color: #eae7b1;

}
.fan-picture-container{
    width: 125px;
    height: 125px;
    position: absolute;
    bottom: 20%;
    left: 15%;
    border-radius: 50%;
    border: 1px solid #273631;
    background-color: transparent;
}
.fan-picture{
    height:125px;
    width: 125px;
    border-radius: 50%;
    background: url('../images/cm-happy-person-one.png') no-repeat center center;
    border-radius: 50%;
}
.fan-picture-2{
    height:125px;
    width: 125px;
    border-radius: 50%;
    background:url('../images/cm-happy-person-two.png')
}
.fan-picture-3{
    height:125px;
    width: 125px;
    border-radius: 50%;
    background:url('../images/cm-happy-person-three.png');
}
/* footer styling */
#footer{
    height: 25vh;
    width: 100%;
    background-color: #eae7b1;
    border-top: 2px solid #3c6255;
}
.logo{
    display: inline;
    float: left;
    width: 30%;
    height: 100%;
    background-color: #eae7b1;
}
#social-media{
    display: inline;
    width:30%;
    height: 100%;
    background-color: #eae7b1;
    float: right;
}
.newsletter{
    margin: 0 auto;
    height: 100%;
    width: 33%;
    background-color: #eae7b1;
}
#footer-subscribe a{
    text-decoration: none;
    color:#eae7b1;
    font-family: oswald, sans-serif;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.logo h3, #social-media h3, .newsletter-header h3{
    text-align: center;
    text-transform:uppercase;
    color: #3c6255;
    font-family: oswald, sans-serif;
    line-height: 250%;
    font-size: 150%;
}
#call-us, .email, .social-links, #newsletter-prompt, #footer-subscribe{
    height:25% ;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}
#call-us p, .email p, #newsletter-prompt p, #footer-newsletter, #social-media-prompt p {
    font-family: oswald, sans-serif;
    color:#3c6255;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
#social-media ul{
    width:100%;
    height:20%;
    text-align: center;
    margin-top:5%;
}
#social-media ul li{
    display: inline;
    text-decoration: none;
    padding-right: 5%;
    
}
#social-media ul li a{
    font-family: oswald, sans-serif;
    color:#3c6255;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
#newsletter-prompt p{
    font-size: 125%;
}
#footer-subscribe{
    border: 1px solid #3c6255;
    background-color: #3c6255;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 0 #2c443c;
    transition: transform 0.1s ease-out;
}
#footer-subscribe:active{
    box-shadow: none;
    transform:translateY(5px);
}
#footer-newsletter{
    background-color: #3c6255;
    color: #eae7b1;
}

/* newsletter sign up */

#signup-background{
    background: url('../images/cm-newsletter-sign-up-bckgr\ \(1\).png') no-repeat right center;
    background-size: cover;
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
form{
    background-color: rgba(60, 98, 85, 0.5);
    width:80%;
    height:99vh; 
    border: 2px solid #3c6255; 
    border-radius: 4px;
    box-shadow: 4px 4px #273631;
}
legend{
    font-family: oswald, sans-serif;
    color:#eae7b1;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.fieldset-two, .fieldset-three{
    padding-top:2%;
}
label{
    font-family: oswald, sans-serif;
    color:#eae7b1;
    font-size:medium;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 110%;
    
}
#forename, #surname, #email-address,#telephone, #diet-type, #alergies{
    width:75%;
    height:23%;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    left:5%;
}

#f-name{
    margin-bottom: 5%;
}
#f-name, #l-name, #email,#phone-number,#diet,#alergy {  
    background-color: whitesmoke;
    font-family: oswald, sans-serif;
    color:#3c6255;
    font-size:medium;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    text-transform: capitalize;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    border-radius: 2px;
    line-height: 110%;
    width: 50%;
    padding: 0.5% 0;
    position: absolute;
    right: 10%;
}
#alergy, #alergies{
    margin-top: 2%;
}
#f-name:active, #l-name:active{
    box-shadow: none;
    transform: translateY(3px);  
}
#alergies label{
    padding-right: 7%;
}
#alergies input{
    padding-right: 2.5%;
}
.newsletter-submit{
    display: block;
    margin: 0 auto;
    margin-top: 2.5%;
    padding: 1%;
} 
/* recipes page */
.hero-image{
    height: 50vh;
    width: 100%;
    background:url('../images/cm-hero-img.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-text-container{
    height: 25vh;
    width: 50%;
    background-color: rgba(234, 231, 177, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-text-container h3{
    font-family: oswald,sans-serif;
    color: #3c6255;
    font-size: xx-large;
    text-transform: uppercase;
}
/* recipe navigation styling */
#recipe-navigation{
    height:7.5vh;
    width: 100%;
    background-color: #3c6255;
    display: flex;
    justify-content: center;
    align-items: center;
}
#recipe-navigation ul{
    width: 75vw;
    text-align: center;
}
#recipe-navigation li{
    display: inline-block;
    padding-right: 2.5vw;
}
#recipe-navigation li:hover{
    text-decoration: underline;
}
#recipe-navigation li a{
    text-decoration: none;
    color: #eae7b1;
    font-family: oswald, sans-serif;
    letter-spacing: 0.1em;
}
/* introduction */
#introduction{
    height: 26vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #273631;
}
.our-goal{
    position: absolute;
    top: 0%;
    width: 100%;
    height:6.5vh;
    text-align: center;
    
}
.our-goal h3{
    margin-top: 1vh;
    font-family: oswald,sans-serif;
    letter-spacing: 0.1em;
    font-size: 220%;
    text-decoration: underline;
    color: #3c6255;
}
#introduction p{
    width: 50%;
    margin-top: 1vh;
    letter-spacing: 0.1em;
    font-size: medium;
    color: #3c6255;  
    font-weight: 600;
}
/* meal recipe styling */
#meal-recipe{
    height:100vh;
    width: 100vw;
    background-color: whitesmoke;
    position: relative;
}
#meal-banner{
    position: absolute;
    top: 0%;
    height: 10vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #273631;
}
#meal-banner h3{
    font-family: oswald,sans-serif;
    font-size: 220%;
    color: #3c6255;
}
.meal-image{
    background:url('../images/cm-over-night-oats.png') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    width: 25%;
    height: 75%;
    position: absolute;
    left: 2.5%;
    bottom: 7.5%;
    box-shadow: 10px 10px #273631 ;
}
.meal-instruction{
    background-color: greenyellow;
    width: 70%;
    height: 90vh;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}
.instruction-container{
    width: 100%;
    height: 90vh;
    background-color: aqua;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
}
.ingredients-list{
    position: absolute;
    left:0;
    bottom: 0;
    width: 25%;
    height: 50vh;
    background-color: yellow;
}

.meal-bio{
    width:100%;
    height:40vh;
    position: absolute;
    top:0;
    background-color: whitesmoke;
    border-top: 1px solid black;
}
.meal-bio h3{
    text-align: center;
    color: #3c6255;
}
.meal-bio p{
    width:75%;
    margin: 0 auto;
}
.meal-guide{
    width: 100%;
    height: 60vh;
    background-color: aquamarine;
    position: absolute;
    top:40vh;
    overflow-y: hidden;
   
}
.meal-guide-header{
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c6255;
}
.steps{
    width: 50%;
    height:50vh;
    position: absolute;
    bottom: 0;
    left:25%;
    background-color: forestgreen;
}
.nutritional-info{
    width: 25%;
    height:50vh;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
}